/*===== NAVBAR =====*/
.navbar .overlap-2 {
    position: absolute;
    width: 1440px;
    height: 99px;
    top: 0;
    left: 0;
    background-color: #2b3537;
} 

.navbar .title {
    position: relative;
    width: fit-content;
    margin-top: -1.00px;
    font-family: "Poppins-Bold", Helvetica;
    font-weight: 700;
    color: var(--color-text-neutral-on-neutral);
    font-size: 16px;
    letter-spacing: 0;
    line-height: 16px;
    white-space: nowrap;
}

.navbar .ajukan-laporan {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: var(--size-space-200);
    padding: var(--size-space-200);
    position: absolute;
    top: 33px;
    left: 201px;
    border-radius: var(--size-radius-200);
    text-decoration: none;
    cursor: pointer;
}

.navbar .ajukan-laporan .title {
    position: relative;
    width: fit-content;
    margin-top: -1.00px;
    font-family: "Poppins-Bold", Helvetica;
    font-weight: 700;
    color: var(--color-text-neutral-on-neutral);
    font-size: 16px;
    letter-spacing: 0;
    line-height: 16px;
    white-space: nowrap;
}

.navbar .rekap {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: var(--size-space-200);
    padding: var(--size-space-200);
    position: absolute;
    top: 33px;
    left: 358px;
    border-radius: var(--size-radius-200);
    text-decoration: none;
    cursor: pointer;
}

.navbar .rekap .title {
    position: relative;
    width: fit-content;
    margin-top: -1.00px;
    font-family: "Poppins-Bold", Helvetica;
    font-weight: 700;
    color: var(--color-text-neutral-on-neutral);
    font-size: 16px;
    letter-spacing: 0;
    line-height: 16px;
    white-space: nowrap;
}

.navbar .faq {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: var(--size-space-200);
    padding: var(--size-space-200);
    position: absolute;
    top: 33px;
    left: 440px;
    border-radius: var(--size-radius-200);
    cursor: pointer;
}

.navbar .faq .title {
    position: relative;
    width: fit-content;
    margin-top: -1.00px;
    font-family: "Poppins-Bold", Helvetica;
    font-weight: 700;
    color: var(--color-text-neutral-on-neutral);
    font-size: 16px;
    letter-spacing: 0;
    line-height: 16px;
    white-space: nowrap;
}

.navbar .seting-link {
    position: absolute;
    width: 34px;
    height: 34px;
    top: 32px;
    left: 1290px;
}

.navbar .seting {
    width: 26px;
    height: 26px;
}

.navbar .logo-atas {
    position: absolute;
    width: 40px;
    height: 44px;
    top: 27px;
    left: 116px;
    background-image: url("../Images/img/nav-logo.png");
    background-size: 100% 100%;
} */

/* ===== KONTEN UTAMA RIWAYAT LAPORAN ===== */
.edit-profile .div {
  background-color: #ffffff;
  width: 1440px;
  height: 1918px;
  position: relative;
}

.edit-profile .overlap {
  position: absolute;
  width: 460px;
  height: 1351px;
  top: 99px;
  left: 0;
  background-color: #2b3537;
}

.edit-profile .text-wrapper {
  position: absolute;
  height: 24px;
  top: 394px;
  left: 116px;
  font-family: "Poppins-SemiBold", Helvetica;
  font-weight: 600;
  color: #ffffff;
  font-size: 20px;
  letter-spacing: 0.50px;
  line-height: 24.0px;
  white-space: nowrap;
}

.edit-profile .text-wrapper-2 {
  position: absolute;
  height: 24px;
  top: 675px;
  left: 116px;
  font-family: "Poppins-SemiBold", Helvetica;
  font-weight: 600;
  color: #ffffff;
  font-size: 20px;
  letter-spacing: 0.50px;
  line-height: 24.0px;
  white-space: nowrap;
}

.edit-profile .text-wrapper-3 {
  position: absolute;
  height: 24px;
  top: 769px;
  left: 116px;
  font-family: "Poppins-SemiBold", Helvetica;
  font-weight: 600;
  color: #ffffff;
  font-size: 20px;
  letter-spacing: 0.50px;
  line-height: 24.0px;
  white-space: nowrap;
}

.edit-profile .text-wrapper-4 {
  position: absolute;
  height: 24px;
  top: 863px;
  left: 116px;
  font-family: "Poppins-SemiBold", Helvetica;
  font-weight: 600;
  color: #ffffff;
  font-size: 20px;
  letter-spacing: 0.50px;
  line-height: 24.0px;
  white-space: nowrap;
}

.edit-profile .text-wrapper-5 {
  position: absolute;
  height: 24px;
  top: 488px;
  left: 116px;
  font-family: "Poppins-SemiBold", Helvetica;
  font-weight: 600;
  color: #ffffff;
  font-size: 20px;
  letter-spacing: 0.50px;
  line-height: 24.0px;
  white-space: nowrap;
}

.edit-profile .overlap-group {
  position: absolute;
  width: 286px;
  height: 286px;
  top: 74px;
  left: 116px;
  background-image: url("../Images/img/img-mega.png");
  background-size: cover;
  background-position: 50% 50%;
}

.edit-profile .edit-pp {
  position: relative;
  width: 68px;
  height: 26px;
  top: 241px;
  left: 27px;
}

.edit-profile .overlap-group-2 {
  position: relative;
  width: 66px;
  height: 26px;
  background-color: #ffffff;
  border-radius: 7px;
}

.edit-profile .text-wrapper-6 {
  position: absolute;
  height: 17px;
  top: 5px;
  left: 28px;
  font-family: "Poppins-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 14px;
  letter-spacing: 0.50px;
  line-height: 16.8px;
  white-space: nowrap;
}

.edit-profile .vector-pen {
  position: absolute;
  width: 16px;
  height: 10px;
  top: 8px;
  left: 5px;
}

.edit-profile .rectangle-0 {
  position: absolute;
  width: 276px;
  height: 37px;
  top: 421px;
  left: 114px;
  border-radius: 10px;
  border: 2px solid;
  border-color: #ffffff;
}

.edit-profile .rectangle-1 {
  position: absolute;
  width: 276px;
  height: 37px;
  top: 704px;
  left: 116px;
  border-radius: 10px;
  border: 2px solid;
  border-color: #ffffff;
}

/* ===== ERRORRR COK INI =====  */
.edit-profile .rectangle-2 {
  position: absolute;
  width: 276px;
  height: 37px;
  top: 798px;
  left: 116px;
  border-radius: 10px;
  border: 2px solid;
  border-color: #ffffff;
}

.edit-profile .rectangle-3 {
  position: absolute;
  width: 276px;
  height: 37px;
  top: 892px;
  left: 116px;
  border-radius: 10px;
  border: 2px solid;
  border-color: #ffffff;
}

.edit-profile .rectangle-4 {
  position: absolute;
  width: 276px;
  height: 130px;
  top: 517px;
  left: 116px;
  border-radius: 15px;
  border: 2px solid;
  border-color: #ffffff;
}

.edit-profile .btn-batalkan {
  top: 1030px;
  border: 2px solid;
  border-color: var(--fffcf-5);
  display: flex;
  width: 276px;
  align-items: center;
  justify-content: center;
  gap: var(--size-space-200);
  padding: var(--size-space-200);
  position: absolute;
  left: 116px;
  border-radius: var(--size-radius-200);
  overflow: hidden;
  background-color: var(--x-2b-3537);
}

.edit-profile .button {
  all: unset;
  box-sizing: border-box;
  position: relative;
  width: fit-content;
  margin-top: -2.00px;
  font-family: "Poppins-Regular", Helvetica;
  font-weight: 400;
  color: var(--fffcf-5);
  font-size: 16px;
  letter-spacing: 0;
  line-height: 16px;
  white-space: nowrap;
}

.edit-profile .btn-simpan {
  top: 986px;
  background-color: var(--fffcf-5);
  border: 1px solid;
  border-color: #ffffff;
  display: flex;
  width: 276px;
  align-items: center;
  justify-content: center;
  gap: var(--size-space-200);
  padding: var(--size-space-200);
  position: absolute;
  left: 116px;
  border-radius: var(--size-radius-200);
  overflow: hidden;
}

.edit-profile .button-2 {
  all: unset;
  box-sizing: border-box;
  position: relative;
  width: fit-content;
  margin-top: -1.00px;
  font-family: "Poppins-Bold", Helvetica;
  font-weight: 400;
  color: var(--x-2b-3537);
  font-size: 16px;
  letter-spacing: 0;
  line-height: 16px;
  white-space: nowrap;
}

/* .edit-profile .overlap-3 {
  position: absolute;
  width: 1440px;
  height: 99px;
  top: 0;
  left: 0;
  background-color: #2b3537;
} */

/* .edit-profile .logo-nav {
  position: absolute;
  width: 40px;
  height: 44px;
  top: 27px;
  left: 116px;
}

.edit-profile .ajukan-laporan {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: var(--size-space-200);
  padding: var(--size-space-200);
  position: absolute;
  top: 33px;
  left: 201px;
  border-radius: var(--size-radius-200);
}

.edit-profile .title {
  position: relative;
  width: fit-content;
  margin-top: -1.00px;
  font-family: "Poppins-Bold", Helvetica;
  font-weight: 700;
  color: var(--color-text-neutral-on-neutral);
  font-size: 16px;
  letter-spacing: 0;
  line-height: 16px;
  white-space: nowrap;
}

.edit-profile .rekap {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: var(--size-space-200);
  padding: var(--size-space-200);
  position: absolute;
  top: 33px;
  left: 358px;
  border-radius: var(--size-radius-200);
}

.edit-profile .faq {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: var(--size-space-200);
  padding: var(--size-space-200);
  position: absolute;
  top: 33px;
  left: 440px;
  border-radius: var(--size-radius-200);
}

.edit-profile .setting {
  position: absolute;
  width: 34px;
  height: 34px;
  top: 32px;
  left: 1290px;
} */



.edit-profile .overlap-5 {
  position: absolute;
  width: 980px;
  height: 1351px;
  top: 99px;
  left: 460px;
  background-color: #fffcf5;
}

.edit-profile .text-wrapper-8 {
  position: absolute;
  height: 58px;
  top: 65px;
  left: 73px;
  font-family: "Poppins-Bold", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 48px;
  letter-spacing: 2.00px;
  line-height: 57.6px;
  white-space: nowrap;
}

.edit-profile .p {
  position: absolute;
  width: 519px;
  height: 29px;
  top: 202px;
  left: 345px;
  font-family: "Poppins-SemiBold", Helvetica;
  font-weight: 600;
  color: #000000;
  font-size: 24px;
  letter-spacing: 0.50px;
  line-height: 28.8px;
}

.edit-profile .text-wrapper-9 {
  position: absolute;
  width: 519px;
  height: 29px;
  top: 506px;
  left: 345px;
  font-family: "Poppins-SemiBold", Helvetica;
  font-weight: 600;
  color: #000000;
  font-size: 24px;
  letter-spacing: 0.50px;
  line-height: 28.8px;
}

.edit-profile .text-wrapper-10 {
  position: absolute;
  width: 519px;
  height: 29px;
  top: 810px;
  left: 345px;
  font-family: "Poppins-SemiBold", Helvetica;
  font-weight: 600;
  color: #000000;
  font-size: 24px;
  letter-spacing: 0.50px;
  line-height: 28.8px;
}

.edit-profile .text-wrapper-11 {
  position: absolute;
  width: 519px;
  height: 96px;
  top: 283px;
  left: 345px;
  font-family: "Poppins-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 20px;
  text-align: justify;
  letter-spacing: 0.50px;
  line-height: 24.0px;
}

.edit-profile .text-wrapper-12 {
  position: absolute;
  width: 519px;
  height: 96px;
  top: 579px;
  left: 345px;
  font-family: "Poppins-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 20px;
  text-align: justify;
  letter-spacing: 0.50px;
  line-height: 24.0px;
}

.edit-profile .text-wrapper-13 {
  position: absolute;
  width: 519px;
  height: 96px;
  top: 880px;
  left: 345px;
  font-family: "Poppins-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 20px;
  text-align: justify;
  letter-spacing: 0.50px;
  line-height: 24.0px;
}

.edit-profile .text-wrapper-14 {
  position: absolute;
  height: 24px;
  top: 235px;
  left: 345px;
  font-family: "Poppins-Light", Helvetica;
  font-weight: 300;
  color: #292929;
  font-size: 20px;
  letter-spacing: 0.50px;
  line-height: 24.0px;
  white-space: nowrap;
}

.edit-profile .text-wrapper-15 {
  top: 539px;
  position: absolute;
  height: 24px;
  left: 345px;
  font-family: "Poppins-Light", Helvetica;
  font-weight: 300;
  color: #292929;
  font-size: 20px;
  letter-spacing: 0.50px;
  line-height: 24.0px;
  white-space: nowrap;
}

.edit-profile .text-wrapper-16 {
  top: 843px;
  position: absolute;
  height: 24px;
  left: 345px;
  font-family: "Poppins-Light", Helvetica;
  font-weight: 300;
  color: #292929;
  font-size: 20px;
  letter-spacing: 0.50px;
  line-height: 24.0px;
  white-space: nowrap;
}

.edit-profile .jam-kuning-wrapper {
  position: absolute;
  width: 248px;
  height: 233px;
  top: 190px;
  left: 73px;
  background-image: url("../Images/img/img-trotoar-rusak.png");
  background-size: cover;
  background-position: 50% 50%;
}

.edit-profile .img-2 {
  position: absolute;
  width: 26px;
  height: 26px;
  top: 14px;
  left: 9px;
}

.edit-profile .centang-hijau-wrapper {
  position: absolute;
  width: 248px;
  height: 233px;
  top: 494px;
  left: 73px;
  background-image: url("../Images/img/img-malam-macet.png");
  background-size: cover;
  background-position: 50% 50%;
}

.edit-profile .lapor-merah-wrapper {
  position: absolute;
  width: 248px;
  height: 233px;
  top: 798px;
  left: 73px;
  background-image: url("../Images/img/img-sampah.png");
  background-size: cover;
  background-position: 50% 50%;
}

.edit-profile .lapor-merah {
  position: absolute;
  width: 25px;
  height: 27px;
  top: 14px;
  left: 9px;
}


/* ===== FOOTER  ===== */
.overlap-4 {
    position: absolute;
    width: 1440px;
    height: 468px;
    top: 1450px;
    left: 0;
    background-color: #2b3537;
}

.rectangle {
    height: 468px;
    top: 0;
    background-color: #2b3537;
    position: absolute;
    width: 1440px;
    left: 0;
}

.logo-footer {
    position: absolute;
    width: 195px;
    height: 213px;
    top: 54px;
    left: 112px;
}

.text-wrapper-10 {
    position: absolute;
    height: 28px;
    top: 288px;
    left: 112px;
    font-family: "Poppins-Bold", Helvetica;
    font-weight: 700;
    color: #ffffff;
    font-size: 20px;
    letter-spacing: 0;
    line-height: 28.0px;
    white-space: nowrap;
}

.frame {
    display: inline-flex;
    align-items: center;
    gap: var(--size-space-400);
    position: absolute;
    top: 339px;
    left: 112px;
}

.x-logo {
    position: relative;
    width: 23.98px;
    height: 24px;
}

.img-2 {
    position: relative;
    width: 24px;
    height: 24px;
}

.rectangle-2 {
    height: 25px;
    top: 443px;
    background-color: var(--fffcf-5);
    position: absolute;
    width: 1440px;
    left: 0;
}

.text-link-list {
    display: flex;
    flex-direction: column;
    width: 262px;
    align-items: flex-start;
    gap: var(--size-space-300);
    position: absolute;
    top: 54px;
    left: 781px;
}

.text-strong-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    padding: 0px 0px var(--size-space-400) 0px;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
}

.text-strong {
    display: flex;
    align-items: flex-start;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
}

.text-strong-2 {
    position: relative;
    width: fit-content;
    margin-top: -1.00px;
    font-family: var(--body-strong-font-family);
    font-weight: var(--body-strong-font-weight);
    color: var(--color-text-neutral-on-neutral);
    font-size: var(--body-strong-font-size);
    letter-spacing: var(--body-strong-letter-spacing);
    line-height: var(--body-strong-line-height);
    white-space: nowrap;
    font-style: var(--body-strong-font-style);
}

.text-link-list-item {
    position: relative;
    width: 89px;
    height: 22px;
}

.list-item {
    position: absolute;
    height: 22px;
    top: -1px;
    left: 0;
    font-family: var(--body-base-font-family);
    font-weight: var(--body-base-font-weight);
    color: var(--color-text-neutral-on-neutral);
    font-size: var(--body-base-font-size);
    letter-spacing: var(--body-base-letter-spacing);
    line-height: var(--body-base-line-height);
    white-space: nowrap;
    font-style: var(--body-base-font-style);
}

.text-link-list-2 {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: var(--size-space-300);
    position: absolute;
    top: 54px;
    left: 1133px;
}

.text-strong-3 {
    margin-right: -29.00px;
    position: relative;
    width: fit-content;
    margin-top: -1.00px;
    font-family: var(--body-strong-font-family);
    font-weight: var(--body-strong-font-weight);
    color: var(--color-text-neutral-on-neutral);
    font-size: var(--body-strong-font-size);
    letter-spacing: var(--body-strong-letter-spacing);
    line-height: var(--body-strong-line-height);
    white-space: nowrap;
    font-style: var(--body-strong-font-style);
}

.element-laporin-aja {
    position: absolute;
    height: 44px;
    top: 314px;
    left: 784px;
    font-family: var(--body-base-font-family);
    font-weight: var(--body-base-font-weight);
    color: var(--color-text-neutral-on-neutral);
    font-size: var(--body-base-font-size);
    letter-spacing: var(--body-base-letter-spacing);
    line-height: var(--body-base-line-height);
    font-style: var(--body-base-font-style);
}