.rekap-kecamatan {
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }
  
  .rekap-kecamatan .div {
    background-color: #ffffff;
    overflow: hidden;
    width: 1440px;
    height: 3153px;
    position: relative;
  }
  
  .rekap-kecamatan .overlap {
    position: absolute;
    width: 1440px;
    height: 468px;
    top: 2685px;
    left: 0;
  }
  
  .rekap-kecamatan .rectangle {
    position: absolute;
    width: 1440px;
    height: 468px;
    top: 0;
    left: 0;
    background-color: var(--x-2b-3537);
  }
  
  .rekap-kecamatan .rectangle-2 {
    position: absolute;
    width: 1440px;
    height: 25px;
    top: 443px;
    left: 0;
    background-color: #f5f5f5;
  }
  
  .rekap-kecamatan .text-link-list {
    display: flex;
    flex-direction: column;
    width: 262px;
    align-items: flex-start;
    gap: var(--size-space-300);
    position: absolute;
    top: 81px;
    left: 778px;
  }
  
  .rekap-kecamatan .title {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    padding: 0px 0px var(--size-space-400) 0px;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
  }
  
  .rekap-kecamatan .text-strong {
    display: flex;
    align-items: flex-start;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
  }
  
  .rekap-kecamatan .text-wrapper {
    position: relative;
    width: fit-content;
    margin-top: -1.00px;
    font-family: var(--body-strong-font-family);
    font-weight: var(--body-strong-font-weight);
    color: var(--color-text-neutral-on-neutral);
    font-size: var(--body-strong-font-size);
    letter-spacing: var(--body-strong-letter-spacing);
    line-height: var(--body-strong-line-height);
    white-space: nowrap;
    font-style: var(--body-strong-font-style);
  }
  
  .rekap-kecamatan .text-link-list-item {
    position: relative;
    width: 89px;
    height: 22px;
  }
  
  .rekap-kecamatan .list-item {
    position: absolute;
    height: 22px;
    top: -1px;
    left: 0;
    font-family: var(--body-base-font-family);
    font-weight: var(--body-base-font-weight);
    color: var(--color-text-neutral-on-neutral);
    font-size: var(--body-base-font-size);
    letter-spacing: var(--body-base-letter-spacing);
    line-height: var(--body-base-line-height);
    white-space: nowrap;
    font-style: var(--body-base-font-style);
  }
  
  .rekap-kecamatan .text-link-list-2 {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: var(--size-space-300);
    position: absolute;
    top: 81px;
    left: 1130px;
  }
  
  .rekap-kecamatan .text-strong-2 {
    margin-right: -29.00px;
    position: relative;
    width: fit-content;
    margin-top: -1.00px;
    font-family: var(--body-strong-font-family);
    font-weight: var(--body-strong-font-weight);
    color: var(--color-text-neutral-on-neutral);
    font-size: var(--body-strong-font-size);
    letter-spacing: var(--body-strong-letter-spacing);
    line-height: var(--body-strong-line-height);
    white-space: nowrap;
    font-style: var(--body-strong-font-style);
  }
  
  .rekap-kecamatan .element-laporin-aja {
    position: absolute;
    height: 44px;
    top: 341px;
    left: 782px;
    font-family: var(--body-base-font-family);
    font-weight: var(--body-base-font-weight);
    color: var(--color-text-neutral-on-neutral);
    font-size: var(--body-base-font-size);
    letter-spacing: var(--body-base-letter-spacing);
    line-height: var(--body-base-line-height);
    font-style: var(--body-base-font-style);
  }
  
  .rekap-kecamatan .text-wrapper-2 {
    position: absolute;
    height: 28px;
    top: 288px;
    left: 112px;
    font-family: "Poppins-Bold", Helvetica;
    font-weight: 700;
    color: #ffffff;
    font-size: 20px;
    letter-spacing: 0;
    line-height: 28.0px;
    white-space: nowrap;
  }
  
  .rekap-kecamatan .group {
    position: absolute;
    width: 195px;
    height: 213px;
    top: 54px;
    left: 112px;
  }
  
  .rekap-kecamatan .frame {
    display: inline-flex;
    align-items: center;
    gap: var(--size-space-400);
    position: absolute;
    top: 339px;
    left: 112px;
  }
  
  .rekap-kecamatan .x-logo {
    position: relative;
    width: 23.98px;
    height: 24px;
  }
  
  .rekap-kecamatan .img {
    position: relative;
    width: 24px;
    height: 24px;
  }
  
  .rekap-kecamatan .overlap-group {
    position: absolute;
    width: 1440px;
    height: 2586px;
    top: 99px;
    left: 0;
    background-color: #fffcf5;
  }
  
  .rekap-kecamatan .peta-malang {
    position: absolute;
    width: 1303px;
    height: 1345px;
    top: 981px;
    left: 57px;
  }
  
  .rekap-kecamatan .judul-peta {
    position: absolute;
    height: 48px;
    top: 831px;
    left: 588px;
    font-family: "Poppins-SemiBold", Helvetica;
    font-weight: 600;
    color: #1e1e1e;
    font-size: 40px;
    text-align: center;
    letter-spacing: 0.50px;
    line-height: 48.0px;
    white-space: nowrap;
  }
  
  .rekap-kecamatan .overlap-2 {
    position: absolute;
    width: 1330px;
    height: 470px;
    top: 269px;
    left: 55px;
    background-color: #8aa8ab;
    border-radius: 24px;
  }
  
  .rekap-kecamatan .judul-statistika {
    position: absolute;
    height: 48px;
    top: 38px;
    left: 543px;
    font-family: "Poppins-SemiBold", Helvetica;
    font-weight: 600;
    color: #1e1e1e;
    font-size: 40px;
    text-align: center;
    letter-spacing: 0.50px;
    line-height: 48.0px;
    white-space: nowrap;
  }
  
  .rekap-kecamatan .right-arrow {
    position: absolute;
    width: 76px;
    height: 76px;
    top: 230px;
    left: 1242px;
    background-color: #ffffff;
    border-radius: 38px;
    box-shadow: 0px 4px 10px #00000040;
  }
  
  .rekap-kecamatan .arrow {
    position: absolute;
    width: 17px;
    height: 29px;
    top: 23px;
    left: 32px;
  }
  
  .rekap-kecamatan .left-arrow {
    position: absolute;
    width: 76px;
    height: 76px;
    top: 230px;
    left: 13px;
    background-color: #ffffff;
    border-radius: 38px;
    transform: rotate(180deg);
    box-shadow: 0px 4px 10px #00000040;
  }
  
  .rekap-kecamatan .arrow-2 {
    position: absolute;
    width: 17px;
    height: 29px;
    top: 23px;
    left: 32px;
    transform: rotate(-180deg);
  }
  
  .rekap-kecamatan .kec-lowokwaru {
    width: 193px;
    left: 101px;
    position: absolute;
    height: 245px;
    top: 145px;
  }
  
  .rekap-kecamatan .overlap-group-2 {
    position: relative;
    width: 189px;
    height: 245px;
    background-color: var(--fffcf-5);
    border-radius: 10px;
    box-shadow: 0px 4px 13.5px #00000040;
  }
  
  .rekap-kecamatan .text-wrapper-3 {
    left: 19px;
    position: absolute;
    height: 86px;
    top: 39px;
    font-family: "Poppins-SemiBold", Helvetica;
    font-weight: 600;
    color: #1e1e1e;
    font-size: 72px;
    text-align: center;
    letter-spacing: 0.50px;
    line-height: 86.4px;
    white-space: nowrap;
  }
  
  .rekap-kecamatan .text-wrapper-4 {
    height: 58px;
    top: 139px;
    font-family: "Poppins-SemiBold", Helvetica;
    font-weight: 600;
    color: #1e1e1e;
    font-size: 24px;
    text-align: center;
    letter-spacing: 0.50px;
    line-height: 28.8px;
    position: absolute;
    left: 20px;
  }
  
  .rekap-kecamatan .kec-blimbing {
    width: 193px;
    left: 336px;
    position: absolute;
    height: 245px;
    top: 145px;
  }
  
  .rekap-kecamatan .text-wrapper-5 {
    left: 27px;
    position: absolute;
    height: 86px;
    top: 39px;
    font-family: "Poppins-SemiBold", Helvetica;
    font-weight: 600;
    color: #1e1e1e;
    font-size: 72px;
    text-align: center;
    letter-spacing: 0.50px;
    line-height: 86.4px;
    white-space: nowrap;
  }
  
  .rekap-kecamatan .kec-kedung {
    width: 200px;
    left: 568px;
    position: absolute;
    height: 245px;
    top: 145px;
  }
  
  .rekap-kecamatan .overlap-3 {
    position: relative;
    width: 196px;
    height: 245px;
  }
  
  .rekap-kecamatan .rectangle-3 {
    position: absolute;
    width: 189px;
    height: 245px;
    top: 0;
    left: 2px;
    background-color: var(--fffcf-5);
    border-radius: 10px;
    box-shadow: 0px 4px 13.5px #00000040;
  }
  
  .rekap-kecamatan .text-wrapper-6 {
    left: 30px;
    position: absolute;
    height: 86px;
    top: 39px;
    font-family: "Poppins-SemiBold", Helvetica;
    font-weight: 600;
    color: #1e1e1e;
    font-size: 72px;
    text-align: center;
    letter-spacing: 0.50px;
    line-height: 86.4px;
    white-space: nowrap;
  }
  
  .rekap-kecamatan .kecamatan-kedung {
    position: absolute;
    width: 196px;
    height: 87px;
    top: 136px;
    left: 0;
    font-family: "Poppins-SemiBold", Helvetica;
    font-weight: 600;
    color: #1e1e1e;
    font-size: 24px;
    text-align: center;
    letter-spacing: 0.50px;
    line-height: 28.8px;
  }
  
  .rekap-kecamatan .kec-sukun {
    width: 193px;
    left: 806px;
    position: absolute;
    height: 245px;
    top: 145px;
  }
  
  .rekap-kecamatan .text-wrapper-7 {
    left: 20px;
    position: absolute;
    height: 86px;
    top: 39px;
    font-family: "Poppins-SemiBold", Helvetica;
    font-weight: 600;
    color: #1e1e1e;
    font-size: 72px;
    text-align: center;
    letter-spacing: 0.50px;
    line-height: 86.4px;
    white-space: nowrap;
  }
  
  .rekap-kecamatan .kec-klojen {
    width: 193px;
    left: 1041px;
    position: absolute;
    height: 245px;
    top: 145px;
  }
  
  .rekap-kecamatan .scroll-statistik {
    position: absolute;
    width: 133px;
    height: 6px;
    top: 432px;
    left: 599px;
  }
  
  .rekap-kecamatan .overlap-4 {
    position: absolute;
    width: 226px;
    height: 49px;
    top: 148px;
    left: 116px;
    border-radius: 10px;
  }
  
  .rekap-kecamatan .text-wrapper-8 {
    height: 19px;
    top: 14px;
    font-family: "Poppins-Light", Helvetica;
    font-weight: 300;
    color: #000000;
    font-size: 16px;
    letter-spacing: 0;
    line-height: 19.2px;
    white-space: nowrap;
    position: absolute;
    left: 20px;
  }
  
  .rekap-kecamatan .div-2 {
    width: 226px;
    position: absolute;
    height: 49px;
    top: 0;
    left: 0;
    border-radius: 10px;
    border: 2px solid;
    border-color: #000000;
  }
  
  .rekap-kecamatan .drop-arrow-kecamatan {
    left: 190px;
    position: absolute;
    width: 15px;
    height: 8px;
    top: 23px;
  }
  
  .rekap-kecamatan .overlap-5 {
    position: absolute;
    width: 225px;
    height: 49px;
    top: 148px;
    left: 362px;
    border-radius: 10px;
  }
  
  .rekap-kecamatan .text-wrapper-9 {
    position: absolute;
    height: 19px;
    top: 14px;
    left: 21px;
    font-family: "Poppins-Light", Helvetica;
    font-weight: 300;
    color: #000000;
    font-size: 16px;
    letter-spacing: 0;
    line-height: 19.2px;
    white-space: nowrap;
  }
  
  .rekap-kecamatan .div-3 {
    width: 225px;
    position: absolute;
    height: 49px;
    top: 0;
    left: 0;
    border-radius: 10px;
    border: 2px solid;
    border-color: #000000;
  }
  
  .rekap-kecamatan .drop-arrow-desa {
    left: 193px;
    position: absolute;
    width: 15px;
    height: 8px;
    top: 23px;
  }
  
  .rekap-kecamatan .overlap-6 {
    position: absolute;
    width: 226px;
    height: 49px;
    top: 148px;
    left: 607px;
    border-radius: 10px;
  }
  
  .rekap-kecamatan .text-wrapper-10 {
    position: absolute;
    height: 19px;
    top: 14px;
    left: 23px;
    font-family: "Poppins-Light", Helvetica;
    font-weight: 300;
    color: #000000;
    font-size: 16px;
    letter-spacing: 0;
    line-height: 19.2px;
    white-space: nowrap;
  }
  
  .rekap-kecamatan .drop-arrow-tahun {
    left: 196px;
    position: absolute;
    width: 15px;
    height: 8px;
    top: 23px;
  }
  
  .rekap-kecamatan .overlap-7 {
    position: absolute;
    width: 225px;
    height: 49px;
    top: 148px;
    left: 853px;
    border-radius: 10px;
  }
  
  .rekap-kecamatan .text-wrapper-11 {
    position: absolute;
    height: 19px;
    top: 14px;
    left: 24px;
    font-family: "Poppins-Light", Helvetica;
    font-weight: 300;
    color: #000000;
    font-size: 16px;
    letter-spacing: 0;
    line-height: 19.2px;
    white-space: nowrap;
  }
  
  .rekap-kecamatan .drop-arrow-kategori {
    left: 199px;
    position: absolute;
    width: 15px;
    height: 8px;
    top: 23px;
  }
  
  .rekap-kecamatan .overlap-8 {
    position: absolute;
    width: 226px;
    height: 49px;
    top: 148px;
    left: 1098px;
    background-color: #373737;
    border-radius: 10px;
  }
  
  .rekap-kecamatan .asset-cari {
    position: absolute;
    width: 21px;
    height: 21px;
    top: 14px;
    left: 182px;
  }
  
  .rekap-kecamatan .text-wrapper-12 {
    position: absolute;
    height: 19px;
    top: 14px;
    left: 21px;
    font-family: "Poppins-Medium", Helvetica;
    font-weight: 500;
    color: #ffffff;
    font-size: 16px;
    letter-spacing: 0.16px;
    line-height: 19.2px;
    white-space: nowrap;
  }
  
  .rekap-kecamatan .overlap-9 {
    position: absolute;
    width: 177px;
    height: 19px;
    top: 44px;
    left: 116px;
  }
  
  .rekap-kecamatan .path-home {
    position: absolute;
    width: 65px;
    height: 19px;
    top: 0;
    left: 0;
    font-family: "Poppins-Light", Helvetica;
    font-weight: 300;
    color: #000000;
    font-size: 16px;
    letter-spacing: -0.32px;
    line-height: 19.2px;
  }
  
  .rekap-kecamatan .path-rekaplaporan {
    position: absolute;
    height: 19px;
    top: 0;
    left: 62px;
    font-family: "Poppins-Light", Helvetica;
    font-weight: 300;
    color: #000000;
    font-size: 16px;
    letter-spacing: -0.32px;
    line-height: 19.2px;
    white-space: nowrap;
  }
  
  .rekap-kecamatan .overlap-10 {
    position: absolute;
    width: 1440px;
    height: 99px;
    top: 0;
    left: 0;
    background-color: var(--x-2b-3537);
  }
  
  .rekap-kecamatan .group-2 {
    position: absolute;
    width: 40px;
    height: 44px;
    top: 27px;
    left: 116px;
  }
  
  .rekap-kecamatan .navigation-pill {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: var(--size-space-200);
    padding: var(--size-space-200);
    position: absolute;
    top: 33px;
    left: 202px;
    border-radius: var(--size-radius-200);
  }
  
  .rekap-kecamatan .title-2 {
    position: relative;
    width: fit-content;
    margin-top: -1.00px;
    font-family: "Poppins-Bold", Helvetica;
    font-weight: 700;
    color: var(--color-text-neutral-on-neutral);
    font-size: 16px;
    letter-spacing: 0;
    line-height: 16px;
    white-space: nowrap;
  }
  
  .rekap-kecamatan .title-wrapper {
    left: 358px;
    background-color: var(--color-background-brand-tertiary);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: var(--size-space-200);
    padding: var(--size-space-200);
    position: absolute;
    top: 33px;
    border-radius: var(--size-radius-200);
  }
  
  .rekap-kecamatan .title-3 {
    position: relative;
    width: fit-content;
    margin-top: -1.00px;
    font-family: "Poppins-Bold", Helvetica;
    font-weight: 700;
    color: var(--color-text-brand-on-brand-secondary);
    font-size: 16px;
    letter-spacing: 0;
    line-height: 16px;
    white-space: nowrap;
  }
  
  .rekap-kecamatan .div-wrapper {
    left: 440px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: var(--size-space-200);
    padding: var(--size-space-200);
    position: absolute;
    top: 33px;
    border-radius: var(--size-radius-200);
  }
  
  .rekap-kecamatan .whatsapp-image {
    position: absolute;
    width: 34px;
    height: 34px;
    top: 32px;
    left: 1290px;
    object-fit: cover;
  }
  